body {
  margin: 0;
}

button {
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
}

#game-canvas {
  background-color: black;
}

#game-screen {
  display: none;
  position: relative;
}

#game-score {
  color: white;
  font-size: 2rem;
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#splash-screen {
  background-color: lightgrey;
}

#gameover-screen {
  background-color: darkgray;
  display: none;
}

.background {
  background-color: grey;
  height: 100vh;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 600px;
  height: 800px;
}
