:root {
  --color-primary: #4c356d;
}

@font-face {
  font-family: "7016-fontps";
  src: url("../assets/fonts/7016-fontps.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  font-family: "7016-fontps", Helvetica, Arial, sans-serif;
}

button {
  border: none;
  background-color: var(--color-primary);
  color: white;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.75rem 3rem;
  margin-bottom: 8.5rem;
}

button:hover {
  cursor: pointer;
}

#game-canvas {
  outline: 2px solid var(--color-primary);
}

#game-screen {
  display: none;
  position: relative;
}

#game-score {
  color: white;
  font-family: inherit;
  font-size: 2rem;
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#splash-screen {
  background-image: url("../assets/images/splash-bg2.gif");
  justify-content: flex-end;
}

#gameover-screen {
  background-image: url("../assets/images/game-over-2.gif");
  display: none;
  justify-content: flex-end;
}

.background {
  background-color: black;
  height: 100vh;
  justify-content: center;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  width: 600px;
  height: 800px;
}
